src/main/resources/matsim-input/dtd/emissions_v1.dtd

<!-- MATSim Emissions DTD -->

<!ELEMENT averageColdEmissionFactorFile (pollutant)*>
<!ELEMENT averageWarmEmissionFactorFile (pollutant)*>

<!ELEMENT pollutant (segment)*>
<!ATTLIST pollutant
          name          CDATA                    #REQUIRED>

<!ELEMENT segment ((parkingTime|speed))*>
<!ATTLIST segment
          type         CDATA                    #REQUIRED
          fuel         CDATA                    #REQUIRED>

<!ELEMENT parkingTime EMPTY>
<!ATTLIST parkingTime
          value        CDATA                    #REQUIRED
          unit         CDATA                    #REQUIRED
          amount       CDATA                    #REQUIRED>

<!ELEMENT speed EMPTY>
<!ATTLIST speed
          value        CDATA                    #REQUIRED
          unit         CDATA                    #REQUIRED
          amount       CDATA                    #REQUIRED>
