src/main/resources/matsim-input/dtd/population_v6.dtd

<!-- MATSim Population DTD v6.0 -->

<!ELEMENT population     (person)*>
<!ATTLIST population
          desc          CDATA   #IMPLIED>

<!ELEMENT person        (attributes?,plan*)>
<!ATTLIST person
          id            CDATA                    #REQUIRED>

<!ELEMENT attributes    (attribute)*>

<!ELEMENT attribute     (#PCDATA)>
<!ATTLIST attribute
          name          CDATA                    #REQUIRED
          class         CDATA                    #REQUIRED>

<!ELEMENT plan         (activity|leg)*>
<!ATTLIST plan
          score        CDATA                    #IMPLIED
          type         CDATA                    #IMPLIED
          selected     (yes|no)                 #IMPLIED>

<!ELEMENT activity     (attributes?)>
<!ATTLIST activity
          type         CDATA                    #REQUIRED
          x            CDATA                    #IMPLIED
          y            CDATA                    #IMPLIED
          link         CDATA                    #IMPLIED
          facility     CDATA                    #IMPLIED
          start_time   CDATA                    #IMPLIED
          max_dur      CDATA                    #IMPLIED
          end_time     CDATA                    #IMPLIED>

<!ELEMENT leg         (attributes?,route?)>
<!ATTLIST leg
          mode         CDATA                    #REQUIRED
          dep_time     CDATA                    #IMPLIED
          trav_time    CDATA                    #IMPLIED>

<!ELEMENT route       (#PCDATA)>
<!ATTLIST route
          type        CDATA                     #IMPLIED>
